{% extends "base.html" %}
{% block title %}Select Difficulty{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-5">Select Difficulty</h1>
    <div class="list-group">
        <a href="{{ url_for('challenge', difficulty='easy') }}" class="list-group-item list-group-item-action">Easy</a>
        <a href="{{ url_for('challenge', difficulty='medium') }}" class="list-group-item list-group-item-action">Medium</a>
        <a href="{{ url_for('challenge', difficulty='hard') }}" class="list-group-item list-group-item-action">Hard</a>
    </div>
</div>
{% endblock %}
